.wrapper
  .icontext
    .icon__post
      .icon__icon
        a(href="#")
          img(src="img/mail.png")
      .icon__text
        a(href="#")
          |отправить документ 
    .icon__register
      .icon__icon
        img(src="img/keyboard.png")
      .icon__text
        a(href="#")
          <span>Записаться</span> 
        |на прием 
    .icon__schedule
      .icon__icon
        img(src="img/clock.png")
      .icon__text
        |пн - пт: 10:00 – 18:00 
        |<br>сб, вс - выходные дни
    .icon__location
      .icon__icon
        img(src="img/location.png")
      .icon__text
        |г. Москва, 
        |<br>улица Большая Ордынка, 
        |<br>д. 54, стр. 1